<!DOCTYPE html>
<html>
<head>
  <title>Portray Advertising</title>
	
	<!-- Assets -->
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= stylesheet_link_tag    "main.css", :media => "all" %>
		<%#= stylesheet_link_tag    "bootstrap", :media => "all" %>
		<%#= stylesheet_link_tag    "bootstrap.min", :media => "all" %>
		<%#= stylesheet_link_tag    "bootstrap-responsive", :media => "all" %>
		<%#= stylesheet_link_tag    "bootstrap-responsive.min", :media => "all" %>
		
	  <%= javascript_include_tag "application" %>

		<link href="/assets/jquery.bxslider.css" rel="stylesheet" />

	  <%= csrf_meta_tags %>
	  <%= csrf_meta_tags %>
	<!-- end Assets -->
	
	<%= favicon_link_tag 'portray_p.ico' %>

	<!-- Meta -->

	<meta name="description" content="Portray advertising provides an innovative marketing platform for businesses in food courts and cafeterias. Portray advertising sells advertisements in the interior of modern designed food trays.">

	<meta name="keywords" content="cost effective advertising, innovative advertising, mass marketing, Winnipeg advertising or advertising in Winnipeg, shopping mall advertising, retail advertising, increase commercial real estate profitability, modern food trays, food trays, cafeteria solutions, advertising solutions, improve cafeteria, improve food court">

	<!-- end Meta -->

	<!-- Javascripts -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
		<script src="/assets/jquery.bxslider.min.js"></script>
		<script type="text/javascript">var switchTo5x=true;</script>
		<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
		<script type="text/javascript">stLight.options({publisher: "e03a96b6-9381-4bf1-b222-4bf9e2977573", doNotHash: true, doNotCopy: true, hashAddressBar: false});</script>
		<script type="text/javascript">
			$(document).ready(function(){

			  $('.bxslider').bxSlider({
		 		 pagerCustom: '#pager',
		 		 adaptiveHeight: true,
		 		 controls: true,
		 		 auto: true,
		 		 pause: 4000
		    	});

				$(function() {
				   $("#pager a").click(function() {
				      // remove classes from all
				      $("#pager a").removeClass("active");
				      // add class to the one we clicked
				      $(this).addClass("active");
				   });
				});

			});

		</script>
	<!-- End JS -->

</head>
<body>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=335273373225284";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<div id="container">
		<header>
		<%= render "shared/header" %>
		</header>

		<%= yield %>
	
	</div>
		<%= render "shared/footer" %>
	
</body>
</html>
