<!DOCTYPE html>
<html>
<head>
  <title>Portray Advertising</title>
	<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "main", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= csrf_meta_tags %>

	<% content_for :javascript do %>

	$(document).ready ( function(){
	    if (!$('.navigation li a').removeClass('highlight').filter(function() {
	            return window.location.pathname.indexOf(this.href) === 0;
	        }).addClass('highlight').end().filter('.highlight').length) {
	        $('#home').addClass('highlight'); // make the home link active as a default
	    }
	});

	<% end %>

	<script type="text/javascript">var switchTo5x=true;</script>
	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher: "e03a96b6-9381-4bf1-b222-4bf9e2977573"});</script>

</head>
<body>
	<div id="container">
		<header>
		<%= render "shared/header" %>
		</header>

		<%= yield %>
	
	</div>
	<footer>
		<%= render "shared/footer" %>
	</footer>
	
</body>
</html>
