<!DOCTYPE html>
<html>
<head>
  <title>Portray Advertising - The World's Smartest Food Trays</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Assets -->
	<%= stylesheet_link_tag 'main.css', :media => 'screen, projection' %>
	<%= stylesheet_link_tag 'bootstrap.css', :media => 'screen, projection' %>
	<%= stylesheet_link_tag 'responsive.css', :media => 'screen, projection' %>
	<%= stylesheet_link_tag 'style.css', :media => 'screen, projection' %>
	<%= stylesheet_link_tag 'camera.css', :media => 'screen, projection' %>
	<%= stylesheet_link_tag 'portfolio.css', :media => 'screen, projection' %>
	<%= stylesheet_link_tag 'elements.css', :media => 'screen, projection' %>
	<%= javascript_include_tag "application" %>
	
	<link href="/assets/jquery.bxslider.css" rel="stylesheet" />
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,400italic' rel='stylesheet' type='text/css'>			
		<!-- end Assets -->
	
	<%= favicon_link_tag 'portray_p.ico' %>

	<!-- Meta -->

	<meta name="description" content="Portray advertising provides an innovative marketing platform for businesses in food courts and cafeterias. Portray advertising sells advertisements in the interior of modern designed food trays.">

	<meta name="keywords" content="cost effective advertising, innovative advertising, mass marketing, Winnipeg advertising or advertising in Winnipeg, shopping mall advertising, retail advertising, increase commercial real estate profitability, modern food trays, food trays, cafeteria solutions, advertising solutions, improve cafeteria, improve food court">

	<!-- end Meta -->

	<!-- Javascripts -->

		<script type="text/javascript">var switchTo5x=true;</script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
		<script src="/assets/jquery.bxslider.min.js"></script>
		<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
		<script type="text/javascript">stLight.options({publisher: "e03a96b6-9381-4bf1-b222-4bf9e2977573", doNotHash: true, doNotCopy: true, hashAddressBar: false});</script>
		
		<script type="text/javascript">
			$(document).ready(function(){

			  $('ul.bxslider').bxSlider({
		 		 pagerCustom: '#pager',
		 		 adaptiveHeight: true,
		 		 controls: true,
		 		 auto: true,
		 		 pause: 4000
		    	});

				$(function() {
				   $("#pager a").click(function() {
				      // remove classes from all
				      $("#pager a").removeClass("active");
				      // add class to the one we clicked
				      $(this).addClass("active");
				   });
				});
				
				 $('.dropdown_toggle').click(function(e) {
				  	if ($(this).parent().is('.clicked')) {
				  		$('.dropdown_toggle').removeClass('clicked');
				  		$('.dropdown_menu').fadeOut('fast');
				  	}
				  	else
				  	{
				  		$(this).parent().find('.dropdown_menu').fadeIn('fast', function() {
				  			$(this).addClass('opened');
				  		});

				  		// This stops the click event from bubbling up the DOM tree
				  		e.stopPropagation();
				  	}
				  });

				  $('body').click(function() {
				  	$('.dropdown_menu').fadeOut('fast', function() {
				  		$(this).removeClass('opened');
				  	});
				  });

			});

		</script>
		
	<!-- End JS -->

</head>
<body>

	<div id="container">
		<header>
		<%= render "shared/header" %>
		</header>

		<%= yield %>
	
	</div>
		<%= render "shared/footer" %>

</body>
</html>
